<%- include('./blocks/head.ejs')%>
<%- include('./blocks/navbar.ejs')%>

<div class="content">
    <div class="container">
        <ul class="admin__menu__items">
            <li class="admin__menu__item">
                <a href="#">
                    Это просто пример
                </a>
            </li>
            <li class="admin__menu__item">
                <a href="#">
                    Это просто пример
                </a>
            </li>
            <li class="admin__menu__item">
                <a href="#">
                    Это просто пример
                </a>
            </li>
        </ul>
    </div>
</div>


<%- include('./blocks/footer.ejs')%>