<%- include('./blocks/head.ejs')%>
<%- include('./blocks/navbar.ejs')%>




    <div class="container">
        <%
            if( error.length > 0)
            {
                %>
                    <div    class="modal" id="modal">
                        <div class="modal__content">
                            <button class="modal__close-button" id="modal__close-button"><img src="/img/close.svg" width="18" alt=""></button>
                
                            <h1 class="modal__title">Возникла ошибка</h1>
                            <p class="modal__description"> <%-error%>   
                            </p>
                        </div>
                    </div>
                    <script src="/js/modal.js"></script>    
                <%
            }
        %> 
    </div>   

    



<%- include('./blocks/footer.ejs')%>