<%- include('./blocks/head.ejs')%>
<%- include('./blocks/navbar.ejs')%>


<div class="container">
    <secction class="study">
        <table class="table_dark">
            <thead> 
                <tr>
                    <th>Аптека</th>
                    <th>ФИО</th>
                    <th style="text-align: center;">Реферат</th>
                    
                </tr>
            </thead>
            <tr>
                <td>Аптека №1 "Григориенко"</td>
                <td>Абусев Ринат Наильевич</td>
                <td class="study__referat">
           
                    <input type="checkbox"  class="study__referat_checkbox">
                    
                </td>
            
            </tr>
            
              
         
               
          
                
               
            
            </table>
    </secction>
</div>

<%- include('./blocks/footer.ejs')%>