<%- include('./blocks/head.ejs')%>
<%- include('./blocks/navbar.ejs')%>

<div class="content">
    <div class="container">
        <div class="confirm_data">
            Проверьте и подтвердите отправку данных
        </div>

        <%for(let i = 0; i < 1000; i ++) {%>
            <%=i%>
                
        <%}%>
               

        
    </div>
</div>


<%- include('./blocks/footer.ejs')%>