
 </div>
<footer class="footer">
    <div class="container" style="background-color: rgba(32, 33, 36, 1); border-top-left-radius: 10px; border-top-right-radius: 10px;">
        <div class="footer__text">
            Разработчик отдела информационных технологий
            <br>
            <span style="color: #fff;">Абусев Р.</span> 
            <!-- | <span style="color: #fff;">Шахрудинов А.</span> -->
        </div>
    </div>
</footer>



</body>
</html>